.text-centered{
    text-align: center;
}

.col-md-6{
    text-align: center;
    border: 2px solid black;
    box-shadow: 5px 10px #888888;
}

.journal-padding{
    margin-bottom: 12px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    background-color: whitesmoke;
}

.container{
    background-color: whitesmoke;
    border: 1px solid grey;
    border-radius: 3;
    padding: 0;
}

h4{
    font-family: 'Playfair Display';
    justify-content: center !important;
    margin-bottom: 2em;
    margin-top: 2em;
}

    
.coffee-container{
   display: inline-flex;
   flex-direction: column;
   flex-shrink: 3;
   align-items: center !important;
   justify-content: end;
   width: 30%;
   min-height: 800px;
   border-right: 1px solid grey;
   overflow: hidden;
   background-color: rgba(255, 255, 255, 0.459);
}

.journal-container{
   display: inline-flex;
   flex-direction: column;
   flex-shrink: 3;
   align-items: stretch;
   justify-content: flex-start;
   width: 30%;
   min-height: 800px;
   background-color: rgba(255, 255, 255, 0.459);
}

.mood-container{
   display: inline-flex;
   flex-direction: column;
   flex-shrink: 3;
   align-items: center;
   justify-content: flex-start;
   width: 40%;
   min-height: 800px;
   border-right: 1px solid grey;
   background-color: rgba(255, 255, 255, 0.459);
   padding: none;
}

.card{
    margin: 5px;
    width: 300px;
    height: 200px;
    border-radius: 0;
    box-shadow: 1px 1px 5px grey;
}

.card:hover{
    box-shadow: 2px 2px 5px grey;
}

.card-title{
    display: inline-flex;
    justify-content: space-between !important;
}

.card, .card-body, .card-text{
    max-width: 100%;
    background-color: whitesmoke;
    font-size: 14px;
}

.link{
    color: grey;
}


.btn-2{
    background: unset;
    border: unset;
    outline: unset;
    color: black;
}

.button{
    border: 1px solid grey;
    background-color: whitesmoke;
    color: grey;
    padding: 5px 12px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    margin: 1;
}

.button:hover{
    background-color:grey;
    color: white; 
}

.list-group{
    background-color: ivory;
    border-color: grey !important;
}
.list-group-item{
    outline: grey !important;
}

.heading{
    border-color: grey;
    background-color: #D8E4E7;
}

.btn-2{
    background: unset;
    border: unset;
    outline: unset;
}

.list-group-item:hover .icons {
	display: block;
}

.icons {
	padding-top: 12px;	
	padding-right: 7px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}