<div>
    <app-navbar style="z-index: 9999;"></app-navbar>
</div>
<div class="sticky-top">
    <app-mood-tracker-navbar style="z-index: 1;"></app-mood-tracker-navbar>
</div>

    <div class="background-mood" id="content">
            <div id="first">
                <div id="second">
                    <div id="title"> You're feeling: mood </div>
                </div>
            <div class="resource-container">
                <div class="resource-item">
                        <button id="anxious" value="anxious" name="button" routerLink="/mood-chosen"></button> <hr>Read </div>
                <div class="resource-item">
                    <button id="excited" value="excited" name="button" routerLink="/mood-chosen"></button><hr> Watch </div>
                <div class="resource-item">
                    <button id="confused" value="confused" name="button" routerLink="/mood-chosen"></button><hr>Do </div>
                </div>
            </div>
         </div>