<div>
    <app-navbar style="z-index: 9999;"></app-navbar>
</div>
<div class="sticky-top">
    <app-coffee-chat-navbar style="z-index: 1;"></app-coffee-chat-navbar>
</div>
 <!-- Page Content Holder -->
 <div id="content">


<h3>Profiles</h3>
<!--Have each participants profile with pic/avatar, Name, profession, bio-->


<div class="card-container">
    <div class="card">
        <header class="article-header">
            <div>
                <h2 class="article-title">
                    John  
                    <!--{{participants.firstName}}-->
                </h2>
                <div class="category-title">
                    Data Scientist
                    <!-- {{user.role}} -->
                </div>
            </div>

            <img src="assets\images\brooke-cagle-Nm70URdtf3c-unsplash.jpg"/>

        </header>
        <div class="Bio">
            <div class="profile"></div>
            <div class="info">
                <div class="caption">
                    <p>
                        A little bit about me.....
                        <!-- {{user.bio}} -->
                    </p>
                </div>
                <div class="name">
                    <h6>Hobbies:</h6>
                    <p>Puzzles, Studying Hurricane Patterns, etc...</p>
                    <!-- <p>{{user.hobbies}}</p> -->
                </div>
            </div>
        </div>
    </div>
</div>


<!--Zoom Embed-->
<div class="iframe-container" style="overflow: hidden; padding-top: 56.25%; position: relative;">
        <iframe allow="microphone; camera" style="border: 0; height: 100%; left: 0; position: absolute; top: 0; width: 100%;" src="https://success.zoom.us/wc/join/2576842504" frameborder="0"></iframe>
</div>

