<html id="coffeechat">

<div>
    <app-navbar style="z-index: 9999;"></app-navbar>
</div>
<div class="sticky-top">
    <app-coffee-chat-navbar style="z-index: 1;"></app-coffee-chat-navbar>
</div>
 <!-- Page Content Holder -->
 
 <div class="coffee-chat" id="content">
    <h2>Meeting Participant Profiles</h2>
    <div class="container mt-0">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
        <span class="text">Zoom Access Below</span>
      </div>
      <br>
      <br>
<!--Have each participants profile with pic/avatar, Name, profession, bio-->
<div class="card-container" style="overflow-y: hidden; overflow-x: hidden;">
    <div class="card" *ngFor="let participant of currentMeeting.participants" [ngValue]="participant">
        <header class="article-header">
            <div>
                <h3 class="article-title">
                    {{participant.firstName}} {{participant.lastName}}
                </h3>
                <div class="category-title">
                    {{participant.role}}
                </div>
            </div>

            <img src="assets\images\brooke-cagle-Nm70URdtf3c-unsplash.jpg"/>

        </header>
            <div class="info">
                <div class="caption">
                    <h6>Bio:</h6>
                    <p>
                        {{participant.bio}}
                    </p>
                </div>
                <div class="name">
                    <h6>Hobbies:</h6>
                    <p>
                        {{participant.hobbies}}
                    </p>
                </div>
            </div>
    </div>
    
</div>
<div class="new-container">
    <p style="color: white;">*Warning* Only input credentials required, do not select other icons. </p>
    <p style="color: white;">If a redirect error occurs or if you have joined an uninitiated meeting, reload the page.</p> 
    <p style="color: white;">If you are the host you must open Zoom externally, only participants can you use the embed to automatically join the hosted meeting</p>
</div>


<!--Zoom Embed-->

<div class="iframe-container" style="padding-top: 56.25%; position: relative; overflow-y: hidden; overflow-x: hidden;">
    <iframe allow="microphone; camera" style="border: 0; height: 100%; left: 0; position: absolute; top: 0; width: 100%;" [src]="zoomUrl | safe" frameborder="0" scrolling="no"></iframe>
</div>


