<div class="sticky-top">
    <app-navbar></app-navbar>
</div>
 <!-- Page Content Holder -->
 <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="coffee-chat-upcoming-meetings">Upcoming Meetings</a>
                    </li>
                    <li>
                        <a class="nav-link" href="coffee-chat-pending-meetings">Pending Meetings</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#new-meeting" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">New Meeting</a>
                        <ul class="collapse list-unstyled" id="new-meeting">
                            <li>
                                <a href="coffee-chat-select-friends">Select Friends</a>
                            </li>
                            <li>
                                <a href="coffee-chat-random-friends">Randomly Generate Friends</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<h3>Profiles</h3>
<!--Have each participants profile with pic/avatar, Name, profession, bio-->


<div class="card-container">
    <div class="card">
        <header class="article-header">
            <div>
                <h2 class="article-title">
                    John
                </h2>
                <div class="category-title">
                    Data Scientist
                </div>
            </div>

            <img src="assets\images\brooke-cagle-Nm70URdtf3c-unsplash.jpg"/>

           
        </header>
        <div class="Bio">
            <div class="profile"></div>
            <div class="info">
                <div class="caption">
                    <p>
                        A little bit about me.....
                    </p>
                </div>
                <div class="name">
                    <h6>Hobbies:</h6>
                    <p>Puzzles, Studying Hurricane Patterns, etc...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <header class="article-header">
            <div>
                <h2 class="article-title">
                    Julie
                </h2>
                <div class="category-title">
                    Data Scientist
                </div>
            </div>

            <img src="assets\images\kal-visuals-b1Hg7QI-zcc-unsplash.jpg"/>

           
        </header>
        <div class="Bio">
            <div class="profile"></div>
            <div class="info">
                <div class="caption">
                    <p>
                        A little bit about me.....
                    </p>
                </div>
                <div class="name">
                    <h6>Hobbies:</h6>
                    <p>Puzzles, Studying Hurricane Patterns, etc...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <header class="article-header">
            <div>
                <h2 class="article-title">
                    Robert
                </h2>
                <div class="category-title">
                    Data Scientist
                </div>
            </div>

            <img src="assets\images\foto-sushi-6anudmpILw4-unsplash.jpg"/>

           
        </header>
        <div class="Bio">
            <div class="profile"></div>
            <div class="info">
                <div class="caption">
                    <p>
                        A little bit about me.....
                    </p>
                </div>
                <div class="name">
                    <h6>Hobbies:</h6>
                    <p>Puzzles, Studying Hurricane Patterns, etc...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <header class="article-header">
            <div>
                <h2 class="article-title">
                    Emily
                </h2>
                <div class="category-title">
                    Data Scientist
                </div>
            </div>

            <img src="assets\images\michael-dam-mEZ3PoFGs_k-unsplash.jpg"/>

           
        </header>
        <div class="Bio">
            <div class="profile"></div>
            <div class="info">
                <div class="caption">
                    <p>
                        A little bit about me.....
                    </p>
                </div>
                <div class="name">
                    <h6>Hobbies:</h6>
                    <p>Puzzles, Studying Hurricane Patterns, etc...</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Zoom Embed-->
<div class="iframe-container" style="overflow: hidden; padding-top: 56.25%; position: relative;">
        <iframe allow="microphone; camera" style="border: 0; height: 100%; left: 0; position: absolute; top: 0; width: 100%;" src="https://success.zoom.us/wc/join/2576842504" frameborder="0"></iframe>
</div>