@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    margin-bottom: 5px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    min-height: 60vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    BUTTON STYLE
----------------------------------------------------- */

html,body{
    height:100%;
  }
  
  body{
    text-align:center;
  }

  .button-choice{
    background:#b3cbd0;
    color:#b3cbd0;
    border:none;
    position:relative;
    width: 420px;
    height:180px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    white-space: normal;
    word-wrap: break-word;
  }
  .button-choice:hover{
    background:#d8e4e7;
    color:#d8e4e7;
  }
  .button-choice:before,button-choice:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #7ca5af;
    transition:400ms ease all;
  }
  .button-choice:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .button-choice:hover:before,button-choice:hover:after{
    width:100%;
    transition:800ms ease all;
  }


  

  div[class*=box] {
    height: 150px;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.box-1 { background-color: #d8e4e7; }
.box-2 { background-color: #3C3C3C; }
.box-3 { background-color: #66A182; }

.btn {
    line-height: 50px;
    height: 150px;
    text-align: center;
    padding-top: 10%;
    width: 100%;
    cursor: pointer;
    font-family: 'Montserrat';
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
    color: grey;
    transition: all 0.3s;
    position: relative;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: grey;
    border-bottom-color: rgb(167, 167, 167);
}
.btn-one span {
    transition: all 0.3s;
}
.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: grey;
    border-bottom-color: grey;
    transform: scale(0.1, 1);
}
.btn-one:hover span {
    letter-spacing: 2px;
}
.btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
}
.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
}

  

    