@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    margin-top: 0px;
    min-height: 60vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    BUTTON STYLE
----------------------------------------------------- */
.row{
    padding-top: 2% !important;
    padding-bottom: 2%;
    height: 100%;

} 

.bkrd{
    background-color: #d8e4e7;
    max-width: 600px !important;
    max-height: 300px !important;

}


.button {
    --offset: 10px;
    --border-size: 2px;
    
    display: inline-block;
    position: relative;
    padding: 7% 28%;
    appearance: none;
    border: 0;
    background: transparent;
    color: rgb(117, 116, 116);
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background 0.8s ease;
    font-family: 'Montserrat';
    margin: 3% 1%;
    max-width: 600px;
    max-height: 300px;


}
.button:hover {
    background: #afc5ca;
}
.button__horizontal, .button__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;
}
.button__horizontal::before, .button__vertical::before {
    content: '';
    position: absolute;
    border: inherit;
}
.button__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
}
.button__horizontal::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--vertical-offset) * -1);
    right: calc(var(--vertical-offset) * -1);
}
.button:hover .button__horizontal {
    transform: scaleX(0);
}
.button__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
}
.button__vertical::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button__vertical {
    transform: scaleY(0);
}




.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    margin-top:10px;
    margin-bottom:10px;
    background-color:#FFF;
  }
  
  .card:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .card > .card-inner {
    padding:10px;
  }
  .card .header h2, h3 {
    margin-bottom: 0px;
    margin-top:0px;
  }
  .card .header {
    margin-bottom:5px;
  }
  .card img{
    width:100%;
  }
