@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:host{
    --color-first:#f9f0ef;
    --color-second: #eed4cf;
    --color-navbar: #E2b8af;
}

html[data-theme="blue"] {
    --color-first: #D8E4E7;
    --color-second: #AFC5CA;
    --color-navbar: #99b6dc;
}

html[data-theme="pink"] {
        --color-first: #f9f0ef;
        --color-second: #eed4cf;
        --color-navbar: #E2b8af;
}

html[data-theme="green"] {
    --color-first: #e7ffe6;
    --color-second: #c8e2c7;
    --color-navbar: #B4ceb3;
}
/* ---------------------------------------------------
    BUTTONS
----------------------------------------------------- */
.moodButton {
    width:125px;
    height:125px;
    border-radius: 50%;
    border: none;
}


.moodButton#anxious{
    background-image: url(/assets/images/anxious.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.moodButton#excited{
    background-image: url(/assets/images/excited.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.moodButton#tired{
    background-image: url(/assets/images/confused.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.moodButton#content1{
    background-image: url(/assets/images/happy.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.moodButton#sad{
    background-image: url("/assets/images/sad boy.png");
    background-repeat: no-repeat;
    background-size: contain;
}

/* ---------------------------------------------------
    CONTENT
----------------------------------------------------- */
#navbar{
    background: var(--color-navbar);
}


#content {
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}

body {
    font-family: 'Big Caslon', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Big Caslon', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}


#title{
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
}

.mood-container{
    display: flex;
    padding:5px;
    flex-wrap: wrap;
}
 
.mood-item{
    flex:20%;
    padding: 0 4px;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    margin-bottom: 5px;
}

