@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";



/* ---------------------------------------------------
    BUTTONS
----------------------------------------------------- */
button {
    width:125px;
    height:125px;
    border-radius: 50%;
    border: none;
}

button#anxious{
    background-image: url(/assets/images/anxious.png);
    background-repeat: no-repeat;
    background-size: contain;
}

button#excited{
    background-image: url(/assets/images/excited.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#confused{
    background-image: url(/assets/images/confused.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#happy{
    background-image: url(/assets/images/happy.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#sad{
    background-image: url("/assets/images/sad boy.png");
    background-repeat: no-repeat;
    background-size: contain;
}

/* ---------------------------------------------------
    CONTENT
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}

body {
    font-family: 'Big Caslon', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Big Caslon', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

#first {
    color:black;
    font-size: 28px;
    margin:auto;
    width: 700px;
    height: 350px;
    background: #f9f0ef;
    overflow: hidden;
    border-radius:15px;
    border:1px solid black;
}

#second{
    border-radius:15px;
    border:1px solid black;
    width: 75%;
    height: 25%;
    margin: auto;
    margin-top: 10px;
    background: #eed4cf;
    display: flex;
    justify-content: center;
    align-content: center;

}
#title{
    margin-top: 20px;
    font-family: 'Big Caslon', sans-serif;
}

.mood-container{
    display: flex;
    padding:5px;
    flex-wrap: wrap;
}
 
.mood-item{
    flex:20%;
    padding: 0 4px;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    font-family: 'Big Caslon', sans-serif;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    margin-bottom: 5px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

    