<!DOCTYPE html>
<div class="sticky-top">
    <app-navbar></app-navbar>
</div>

<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #7CA5AF; border-bottom: 3px solid;">
    <div class="container-fluid">
        <a class="navbar-brand fancy-font" style="font-size: 45px;">Mood Tracker</a>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link reg-font hoverable" href="mood-tracker-weekly-charts">Weekly Graph</a>
                </li>
                <li>
                    <a class="nav-link reg-font hoverable" href="mood-tracker-monthly-charts">Monthly Graph</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="background-mood" id="content">
    <div id="first">
        <div id="second">
            <div id="title"> How are you feeling today? </div>
        </div>
    <div class="mood-container">
        <div class="mood-item">
                <button id="anxious" value="anxious" name="button" routerLink="/mood-chosen"></button><hr>Anxious </div>
        <div class="mood-item">
            <button id="excited" value="excited" name="button" routerLink="/mood-chosen"></button> <hr>Excited </div>
        <div class="mood-item">
            <button id="confused" value="confused" name="button" routerLink="/mood-chosen"></button><hr>Confused </div>
        <div class="mood-item">
            <button id="happy" value="happy" name="button" routerLink="/mood-chosen"></button> <hr>Happy </div>
        <div class="mood-item">
            <button id="sad" value="sad" name="button" routerLink="/mood-chosen"></button><hr> Sad </div>
        </div>
    </div>
 </div>
<app-footer></app-footer>