<!DOCTYPE html>
<div class="sticky-top">
    <app-navbar></app-navbar>
</div>
<div id="first">
    <div id="second">
        <div id="title"> How are you feeling today? 
        </div>
    </div>
    <div class="mood-container">
        <div class="mood-item">
            <button type="button" id="anxious" value="anxious" name="button"></button> Anxious </div>
        <div class="mood-item">
            <button type="button" id="excited" value="excited" name="button"></button> Excited </div>
        <div class="mood-item">
            <button type="button" id="confused" value="confused" name="button"></button> Confused </div>
        <div class="mood-item">
            <button type="button" id="happy" value="happy" name="button"></button> Happy </div>
        <div class="mood-item">
            <button type="button" id="sad" value="sad" name="button"></button> Sad </div>
        </div>
    </div>
    <app-footer></app-footer>