.background-water {
    background: url('../assets/images/waterdrop.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    color: white;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
 }



 