<!-- Page Content Holder -->

    <nav class="navbar navbar-expand-lg" id="ccNavBar">
        <div class="container-fluid">
            <a class="navbar-brand fancy-font text-grey m-2" style="font-size: 40px;">Coffee Chat</a>
            <a class="reg-font text-grey" style="font-size: 30">>> {{currentPage}}</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="fa fa-bars" style="color: white"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link reg-font text-grey hoverable" href="coffee-chat-upcoming-meetings">Upcoming Meetings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link reg-font text-grey hoverable" href="coffee-chat-pending-meetings">Pending Meetings</a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="nav-link dropdown-toggle reg-font text-grey hoverable" href="#new-meeting-submenu" id="new-meeting" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New Meeting</a>
                        <ul class="dropdown-menu reg-font dropdown-menu-right" aria-labelledby="new-meeting">
                            <li class="dropdown-item text-grey" href="coffee-chat-select-friends" routerLink="/coffee-chat-select-friends">Select Friends</li>
                            <li class="dropdown-item text-grey" href="coffee-chat-random-friends" routerLink="/coffee-chat-random-friends">Randomly Generate Friends</li>
                        </ul>
                        <li class="dropdown nav-item">
                                <a class="nav-link color-button" title="Change Color" style="background-color: var(--color-second); margin-top: 5px" href="#new-entry-submenu" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                <ul class="dropdown-menu reg-font dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <li class="dropdown-item text-grey" style="cursor: pointer;" >
                                        <button type="button" class="color-button" style="background-color: #E2b8af" (click)="colorPink()"></button>
                                        <button type="button" class="color-button" style="background-color: #B4ceb3" (click)="colorGreen()"></button>
                                        <button type="button" class="color-button" style="background-color: #7ca5af" (click)="colorBlue()"></button>
                                        <button type="button" class="color-button" style="background-color: #B79EB1" (click)="colorPurple()"></button>
                                        <button type="button" class="color-button" style="background-color: #F4C389" (click)="colorOrange()"></button>
                                    </li>
                                </ul>

                    </li>
                </ul>
            </div>
        </div>
    </nav>

    