.dropdown-menu{
    background-color: #e4955e !important;
    width: fit-content !important;
    border: none !important;
    top: 45px !important;
}

.dropdown-item:hover{
    cursor: pointer;
    background-color: #ffd59a ;
}
.text-grey{
    color: rgb(97, 96, 96) !important;
}

.navbar{
    max-height: 80px !important;
}