/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    margin-bottom: 5px;
}

