<!-- Page Content Holder -->

    <nav class="navbar navbar-expand-lg sticky-top" style="background-color: #dad8d8;">
        <div class="container-fluid">
            <a class="navbar-brand fancy-font" style="font-size: 45px;">Coffee Chat: It's a Brew-tiful Day</a>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="coffee-chat-upcoming-meetings">Upcoming Meetings</a>
                    </li>
                    <li>
                        <a class="nav-link" href="coffee-chat-pending-meetings">Pending Meetings</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#new-meeting" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">New Meeting</a>
                        <ul class="collapse list-unstyled" id="new-meeting">
                            <li>
                                <a href="coffee-chat-select-friends">Select Friends</a>
                            </li>
                            <li>
                                <a href="coffee-chat-random-friends">Randomly Generate Friends</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    