

::ng-deep html [data-theme="blue"] {
    --color-first: #D8E4E7;
    --color-second: #AFC5CA;
    --color-navbar: #99b6dc;
}

::ng-deep html [data-theme="pink"] {
        --color-first: #f9f0ef;
        --color-second: #eed4cf;
        --color-navbar: #E2b8af;
}

 ::ng-deep html[data-theme="green"] {
    --color-first: #e7ffe6;
    --color-second: #c8e2c7;
    --color-navbar: #B4ceb3;
}

::ng-deep html[data-theme="purple"] {
    --color-first: #FFF0FF;
    --color-second: #E0C7DA;
    --color-navbar: #B79EB1;
}

::ng-deep html[data-theme="orange"] {
    --color-first: #FAE5CC;
    --color-second: #F7D4AB;
    --color-navbar: #F4C389;
}

::ng-deep .button:hover {
    background: var(--color-second);
}

::ng-deep #ccButton{
    background-color: var(--color-first);
    max-width: 600px !important;
    max-height: 300px !important;
}

::ng-deep #ccNavBar{
    background: var(--color-navbar);
}

::ng-deep #ccTitle{
    color: var(--color-navbar);
}

::ng-deep #ccForm{
    background: var(--color-first);
}

::ng-deep #createMeeting{
    background-color: var(--color-first);
    color: var(--color-navbar);
    border: 2px solid var(--color-navbar);
}

::ng-deep #createMeeting:hover{
    background: var(--color-second);
}

::ng-deep #pendingMeetings{
    background: var(--color-first);
}

::ng-deep #ccUpcoming{
    background: var(--color-second);
}

::ng-deep .modal-header{
    background-color: var(--color-second);
}

::ng-deep .modal-body{
    background-color: var(--color-first);
}


.dropdown-menu{
    background-color: var(--color-navbar);
    width: fit-content !important;
    border: none !important;
    top: 45px !important;
}

.dropdown-item:hover{
    cursor: pointer;
    background-color: var(--color-second);
}
.text-grey{
    color: rgb(97, 96, 96) !important;
}

.navbar{
    margin-bottom: 0;
}