.dropdown-menu{
    background-color: #7ca5af !important;
    width: fit-content !important;
    border: none !important;
    top: 56px !important;
}

.dropdown-item:hover{
    cursor: pointer;
    background-color: #b3cbd0;
}
.text-grey{
    color: rgb(97, 96, 96) !important;
}

.color-button{
    height: 20px !important;
    width: 20px !important;
    border: 2px solid grey;
    margin: 2px;
}

.color-button:hover{
    box-shadow: 1px 1px 5px grey;
}