/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    font-family: 'Montserrat';
}



h2{
    font-family: 'Playfair Display';
    justify-content: center !important;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: black;
}

h3{
    font-family: 'Playfair Display';
    justify-content: center !important;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: rgb(97, 96, 96);
}

h5{
    font-family: 'Playfair Display';
    justify-content: center !important;
    margin: 5px;
    border: 1px solid grey;
}

p{
    font-size: 14px;
    color: grey;
    margin: 5px !important;
}

a{
    color: rgb(68, 67, 67) !important;
    font-weight: 600;;
}

img {
    border-radius: 100% !important;
    width: 100px;
    margin-bottom: 5px;
    padding: auto;  
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: auto;
    margin-bottom: 10px;
    max-height: 400px;
    padding: auto;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    color: black;
    box-shadow: 1px 1px 5px grey;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(216, 214, 214);
    color: black;
    box-shadow: 1px 1px 5px grey;
    padding: 20px;
    transform: rotateY(180deg);
  }

  .card-title{
      background-color: honeydew;
  }

  .button{
    border: 1px solid grey;
    background-color: whitesmoke;
    color: grey;
    padding: 5px 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover{
    background-color:grey;
    color: white; 
}

.btn-link{
    color: grey;
    font-weight: 400 !important;
}

.btn-link:hover{
    color: darkgray;
}

hr.divider {
    border: 0;
    height: 1px;
    width: 75%;
    background-image: linear-gradient(to right, rgb(216, 213, 213), grey, rgb(216, 213, 213));
    margin: 20px;
  }

  h2{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .bold{
    font-weight: 600;
  }
    