/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

 
p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0; }
  
  img {
    max-width: 100%;
    min-width: 300px;
    max-height: 780px;
    min-height: 575px;  }
  
  ul {
    padding-left: 0;
    margin-bottom: 0; }
  
  a {
    text-decoration: none; }
    a:hover {
      text-decoration: none; }
  
  textarea {
    resize: none; }
  
  :focus {
    outline: none;
    opacity: 0.7; }
  
  .wrapper {
    min-height: 75vh;
    display: flex;
    align-items: center;
    font-family: 'Montserrat' !important; }
  
  .inner {
    min-width: 200px;
    margin: auto;
    display: flex; }
  
  .image-holder {
    width: 50%;
    max-height: 100%; }
  
  .option {
    color: #999;
    text-align: center;
    width: 30px; }
  
    form {
        width: 50%;
        background-size: 100%;
        padding-top: 35px;
        padding-left: 30px;
        padding-right: 30px; 
        color: grey;
    }
  
  h3 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 38px; }
  
  .form-wrapper {
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 16px; }
    .form-wrapper label {
      width: 32%; }
      .form-wrapper label.label-input {
        transform: translateY(5px); }
      .form-wrapper label.label-comment {
        transform: translateY(-18px); }
    .form-wrapper.form-select {
      margin-bottom: 10px; }
    .form-wrapper.form-price {
      margin-bottom: 19px; }
  
  .form-holder {
    position: relative; }
    .form-holder i {
      position: absolute;
      transform: translateY(-21px);
      left: 30px;
      top: 30px;
  }
  
  .form-control {
    width: 90.08%;
    height: 15%;
    display: block;
    font-size: 13px;
    justify-content: center;
    border: none;
    border-bottom: 1px solid rgb(78, 78, 78);
    background: none;
    color: grey;
    padding: 0; }
  
  input:focus, textarea:focus {
    border-bottom: 1px solid rgba(255, 255, 255, 0.8); }
  
  select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    width: 50px;
    font-size: 15px;
    justify-content: center !important;
    transform: translateY(-1px); }
  
  button {
    height: 42px;
    width: 200px;
    display: inline-flex;
    border: none;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    cursor: pointer;
    transition: all 0.5s ease;
    
    border-radius: 5px;
    font-family: 'Montserrat';
  }
    button:hover {
      color: #fff;
     }
  
  @media (max-width: 100%) {
    .inner {
      min-width: auto; }
  
    form {
      padding-top: 30px;
      padding-bottom: 33px; }
  
    .image-holder {
      max-height: 600px;
      min-height: 75vh; } }
      
  @media (max-width: 767px) {
    .inner {
      display: block; }
  
    form {
      width: 100%; }
  
    .image-holder {
      width: 100%; }
  
    form {
      padding: 50px 50px; }
  
    .wrapper {
      background: none; } }



    
    



