body {
    background: url('../../assets/images/backgroundhome.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
    overflow-wrap: break-word;
  }
  
  .form-group{
    width: 90px; height: 390px; padding: 5px;
  }
 




   