
          <nav class="navbar navbar-expand-lg" style="background-color: #E2b8af;">
            <div class="container-fluid"> 
                <a class="navbar-brand fancy-font text-grey" style="font-size: 40px;">Mood Tracker</a>
                <a class="reg-font text-grey" style="font-size: 30">>> {{currentPage}}</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class="fa fa-bars" style="color: white"></span>
                </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link reg-font text-grey hoverable" href="mood-tracker-weekly-charts">Weekly Graph</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link reg-font text-grey hoverable" href="mood-tracker-monthly-charts">Monthly Graph</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link reg-font text-grey hoverable" href="mood-tracker">Update Mood</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            